.general_button {
  font-weight: bold;
  padding: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  border: 1px solid #40005d;
  background-color: #B5D63D;
  color: black;
  border-radius: 12px;
  outline: none;
}
.general_button:hover,
.general_button:focus {
  background-color: #510674;
  border-color: #510674;
  color: white;
}

.js-tilt-glare {
  border-radius: 12px;
}